@import "base";

.footer {
  position:fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  height: auto;
  color:  @white;
  .transition(all 0.4s);
  .transform(translate(0,48px));

  &:hover {
    .transform(translate(0,0));
  }

  .footer-handle {
    background: @blue;
    margin: 0 20px;
    width: 130px;
    padding: 5px 10px;
    color: white;
  }

  .footer-content {
    height: 50px;
    width: 100%;
    background: @darkGrey;

    ul {
      margin: 0;
      padding: 0;

      .footer-item {
        display: inline-block;
        margin: 10px 0 10px 10px;
        width: 30px;
        height: 30px;
        background: @blue;
      }
    }
  }
}