

#profile :extend(.content-base all) {

  .edit-profile {
    width:40px;
    height:40px;
    background:red;
    color:white;
    float:right;
    text-transform: uppercase;
    text-align:center;
    line-height: 40px;
  }

  & > .picture {
    width:300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    float: right;

    img {
      width: 110%;
      height: auto;
    }
  }

  & > .basic {
    width: 400px;

    form {
      width: 400px;
      background: white;
      box-sizing: content-box;

      input {
        width: 350px;
        box-shadow: none;
        box-sizing: border-box;
        outline: none;
        font-family: "Noto Sans", sans-serif;
        float: left;
        margin: 0 0 10px 0;
      }
    }

    & .name {
      height:50px;
      line-height:50px;
      font-size: 50px;
      margin-top: -15px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      input {
        font-size: 50px;
        margin-top: -15px;
        line-height: 70px;
        height: 60px;
        text-transform: uppercase;
        font-weight: bold;
      }
    }

    & .surname {
      height:45px;
      line-height: 45px;
      font-size: 30px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      input {
        font-size: 30px;
        line-height: 40px;
        height: 40px;
        text-transform: uppercase;
        font-weight: bold;
      }

    }

    & .company {
      height:20px;
      line-height: 20px;
      font-size: 16px;
      color: @mediumGrey;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      input {
        font-size: 16px;
        line-height: 20px;
        height: 20px;
      }
    }
  }

  & > .notifications {
    color: white;
    cursor: pointer;
    font-size: 20px;


    div {
      text-align: center;
      width: 42px;
      height: 42px;
      line-height: 42px;
      margin: 8px 10px 10px 0;
    }

    .newMessages {
      background: @red;
    }

    .recentInteractions {
      background: @green;
    }

    .updates {
      background: @blue;
    }

  }

  & > .moreInfo {

    & .lastInteraction {
      clear: both;
      text-align: center;
      padding: 40px 0 20px;

      span {
        font-weight: bold;
      }
    }

    & .message {
      font-style: italic;
      padding: 14px 20px;
      margin: 5px 0;
      background: @lightYellow;
      color: @mediumGrey;
      line-height: 1.8em;
    }

    & .addAsContact {
      position: absolute;
      bottom: 10px;
      right: 10px;
      text-align: right;

      width: 120px;
      margin: 30px auto;
      text-align: center;
      padding: 10px 14px;
      background: @green;
      .transition(all 0.2s);

      &:hover {
        .scale(1.1);
        background: @red;
      }

      a {
        color: white;
      }
    }

    & .nextStep {
      position: relative;
      width: 120px;
      margin: 30px auto;
      text-align: center;
      padding: 10px 14px;
      background: @green;
      .transition(all 0.2s);

      &:hover {
        .scale(1.1);
        background: @red;
      }

      a {
        color: white;
      }
    }
  }

  & > #details {
    color: @mediumGrey;

    form {
      width: 300px;
      background: white;
      box-sizing: content-box;

      input {
        width: 200px;
        box-shadow: none;
        box-sizing: border-box;
        outline: none;
        font-family: "Noto Sans", sans-serif;
        float: left;
        /*margin: 0 0 10px 0;*/
      }
    }


    .title {
      background: @blue;
      padding: 7px 10px;
      margin: 30px 0;
      color: @white;
    }

    .title-case {
      margin: 0 0 5px;
    }

    .content {
      margin: 0 0 20px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    ul {
      padding: 0;

      li {
        height: 150px;
        padding: 10px;
        background: @lightestGrey;

        input {
          font-size: 16px;
          line-height: 30px;
          height: 25px;
        }
      }
    }
  }

  & > #webid {
    background: @lightestGrey;
    margin: 30px 0 0 0;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    img {
      width: 40px;
      height: 40px;
      margin-right: 10px;
    }

    #webid-address {
      color: @mediumGrey;
      width: 90%;
      height: 40px;
      line-height: 40px;
      vertical-align: middle;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  & > #contacts {

    .title {
      background: @blue;
      padding: 7px 10px;
      margin: 30px 0 0 0;
      color: @white;
    }

    /* Filter contacts */
    .filtered-user {
      display:none
    }

    .filterContacts {
      height: 40px;
      background: white;
      box-shadow: @shadow;
      margin: 10px auto;
      border: @border;
      box-sizing: content-box;


    #add {
      font-weight: bold;
      height: 60px;
      width: 60px;
      text-align: center;
      line-height: 60px;
      background: #333333;
      color: white;
      font-size: 50px;
      float: left;
      cursor: pointer;
      .transition(all 0.2s);
    }

    #add:hover {
      background: @blue;
      .twist(-5deg, 1.1);

    }

    input[type="text"] {
      height: 40px;
      width: 680px;
      border: 0;
      box-shadow: none;
      padding: 20px;
      box-sizing: border-box;
      outline: none;
      font-family: "Noto Sans", sans-serif;
      font-size: 20px;
      float: left;
    }

    input[type="text"]:focus {
      box-shadow: none;
      outline: none;
    }

    button[type="submit"] {
      height: 40px;
      width: 40px;
      text-align: center;
      line-height: 60px;
      background: #333333;
      color: white;
      font-size: 30px;
      float: right;
      border: none;
      cursor: pointer;
      transition: all 0.2s;
      -moz-transition: all 0.2s;
      -webkit-transition: all 0.2s;
      padding: 0;

      .picture {
        width: 60px;
        height: 60px;
        overflow: hidden;
        float: right;

        img {
          width: 100%;
          height: auto;
        }
      }
    }

    button[type="submit"]:hover {
      box-shadow: none;
      outline: none;
      background: @green;
      .twist(-5deg, 1.1);

    }

    }

    /* List of contacts */
    ul {
      background: #f8f8f8;
      padding: 20px;
    }

    li {
      .basic {
        width: 50%;
        height: 92px;
        overflow: hidden;
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    .contact :extend(.contact-base all) {
      background: @lightestGrey;
      box-shadow: 3px 3px rgba(0, 0, 0, 0.2) !important;
    }

  }

}


